exp-01/Task1/src/com/example/client/LetterService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://com.example.service" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://com.example.service" xmlns:intf="http://com.example.service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://com.example.service" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="digits" type="xsd:string"/>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="letterCombinationsReturn" type="impl:ArrayOf_xsd_anyType"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="letterCombinationsRequest">

      <wsdl:part element="impl:digits" name="digits"/>

   </wsdl:message>

   <wsdl:message name="letterCombinationsResponse">

      <wsdl:part element="impl:letterCombinationsReturn" name="letterCombinationsReturn"/>

   </wsdl:message>

   <wsdl:portType name="LetterService">

      <wsdl:operation name="letterCombinations" parameterOrder="digits">

         <wsdl:input message="impl:letterCombinationsRequest" name="letterCombinationsRequest"/>

         <wsdl:output message="impl:letterCombinationsResponse" name="letterCombinationsResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LetterServiceSoapBinding" type="impl:LetterService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="letterCombinations">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="letterCombinationsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="letterCombinationsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LetterServiceService">

      <wsdl:port binding="impl:LetterServiceSoapBinding" name="LetterService">

         <wsdlsoap:address location="http://localhost:8080/services/LetterService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
